body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

h1, h2 {
  margin: 0;
}

h1 {
  color: #333;
  font-size: 26px;
}

h2 {
  color: #666;
  font-size: 20px;
  margin-top: 20px;
}

section {
    padding: 30px;
    text-align: center; /* 将“My Work”标题置中 */
}

.portfolio {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio li {
    display: flex;
    flex-direction: column;
    align-items: center; /* 使图片下的标题和说明文本居中对齐 */
    width: 48%; /* 控制两列布局 */
    margin-bottom: 20px;
}

.portfolio img {
    width: 100%;
    max-width: 400px; /* 控制图片的最大宽度 */
    height: auto;
    margin-bottom: 20px; /* 控制图片与标题之间的间距 */
}

/* 更新这部分以区分普通段落和标题段落 */
.portfolio p {
    color: #333;
    margin-top: 10px; /* 控制标题与说明文本之间的间距 */
    text-align: center; /* 确保文本在其容器中居中 */
    font-size: 16px; /* 默认段落字体大小 */
}

/* 新增加粗和增大字号的标题样式 */
.work-title {
    font-size: 20px; /* 更大的字号 */
    font-weight: bold; /* 加粗 */
    text-align: center; /* 标题居中 */
}

